.top {
    text-align: center;
    color:whitesmoke;
    
}
header{
    font-family:"Tangerine";
    font-size: 72px;
    font-style:normal;

}
.watch_container {
 border: solid;
 border-color: #FDEFA6;
 background-color: #1A1818;
 margin:10px;
 border-radius: 13px;
}

body{
    background-color: rgb(53, 53, 53);
    color:whitesmoke;
}





